dist
build
node_modules
vcs.xml
report
.idea
.vscode
npm-debug.log
.eslintcache
.env
.env.*
.env-*
.DS_Store
.yalc
yalc.lock
yarn-error.log
cypress/reports

.next

# Tools
coverage
target
dist
.cache
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
